$black: #191919;
$dark-green: #21605D;
$green: #339476;
$light-gray: #EAEBED;

$drop-shadow: 0 4px 4px 0 rgba(0 0 0 / .3);
$inner-shadow: inset 0 4px 4px 0 rgba(0 0 0 / .5);
$img-shadow: 0 -4px 4px rgba(0 0 0 / .5);

#centrar {
    margin-top: 13%;
    margin-left: 10%;
}

body{
    overflow-y: hidden;
}

#profilArgazki{
    margin-top:20px;
    width: 10%;
    border-radius: 20px;
}

.input,#bidali{
    width: 20%;
    background-color: $dark-green !important;
    border-radius: 1em;
    margin: 20px;
    border-color: $dark-green;
    border: none !important;
    color: $light-gray !important;
    &#bidali{
        width: 15%;
        margin-left: 40%;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }
    
}

