#orca {
    width: 300px;
    height: 300px;
    margin: 60px;
}

#ahorcado {
    display: flex;
    flex-wrap: wrap;
}

#error {
    margin-top: 50px;
}

#palabra {

    font-size: 2em;
    height: 20px;

    margin-left: 100px;
}
