#cuerpo{
    display: grid;
    grid-template-areas:
    "h h h"
    "m m a"
    "m m a";
}

#cuerpo > header {
    background-color: white;
    grid-area: h;
}

#cuerpo > main {
    border: 1px solid black;
    border-radius: 5px;
    grid-area: m;
    margin: 50px;
    width: 100%;
}

#cuerpo > article {
    grid-area: a;
}

#orca {
    width: 300px;
    height: 300px;
}

#ahorcado {
    display: flex;
    flex-wrap: wrap;
}

#error {
    margin-top: 40px;
    color: red;
    font-size: 3em;
}

#palabra {
    font-size: 3em;


    margin-left: 250px;
}


